# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
applications/sample/build
applications/build

# Web related
lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
flutter_acoustic_mobile_push/android/.gradle/6.7/fileHashes/fileHashes.bin
flutter_acoustic_mobile_push/android/.gradle/6.7/fileHashes/fileHashes.lock
flutter_acoustic_mobile_push/example/android/local.properties
flutter_acoustic_mobile_push/example/android/Generated.xcconfig
flutter_acoustic_mobile_push/example/ios/Flutter/flutter_export_environment.sh
applications/sample/android/app/google-services.json
plugins/flutter_acoustic_mobile_push/android/google-services.json
plugins/flutter_acoustic_mobile_push_location/android/google-services.json
